{% extends 'base.html'%}
{% import 'macros.html' as macro%}


<!-- Styles block -->

{% block styles%} 

         <!-- block styles block provided by the bootstrap/base.html file. -->
    {{ super() }} 
       <!-- super() function to tell Jinja not to override any code that is defined in the block -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> 
                      <!-- url_for() function creates a link to the static file -->

{% endblock %}


<!-- Search movies functionality -->
{% block content %}
<div class="container">
    <form>
        <input type="text" name="movie_query" placeholder="Search for a Movie" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>
</div>

<!-- Content block -->

<div class="container">
 <!-- Popular movie -->
    <div class="row">
        <h3> Popular Movies</h3>
        <ul>
           {{ macro.displayMovieList(popular)}}
        </ul>
    </div>

<!-- Upcoming movie  -->
    <div class="row">
        <h3> Upcoming Movies </h3>
        <ul>
            {{ macro.displayMovieList(upcoming)}}
        </ul>
    </div>

<!-- Now showing movie -->
    <div class="row">
        <h3>Now Showing</h3>
        <ul>
            {{ macro.displayMovieList(now_showing)}}
        </ul>
    </div>

</div>

{% endblock%}
